@using Dongle.Serialization
@using Meganium.Api.Trash
@using Meganium.Api.Trash
@model Meganium.Api.ViewModels.SiteViewModel
<div id="single-page">
    <div id="primary" class="template-fullsize-gallery" style="display: block; margin-top: 0px;">
        <div id="content" role="main">
            <header>
            </header>
        </div>
    </div>
    <div id="sidebar" style="display: block; margin-top: 462px;">
    </div>
</div>
<div id="my-loading" style="display: block;">
    <div>
    </div>
</div>
<div id="thumbnails" class="clearfix thumbs-hide-false right key-nav" data-object="{&quot;directory_uri&quot;:&quot;http://www.sonhartphotoevideo.com.br&quot;,&quot;color_main&quot;:&quot;black&quot;,&quot;fullsize_yt_hd&quot;:&quot;true&quot;,&quot;fullsize_interval&quot;:&quot;5000&quot;,&quot;homepage_show_thumbnails&quot;:&quot;true&quot;,&quot;fullsize_autoplay_video&quot;:&quot;true&quot;, &quot;video_show_elements&quot;: &quot;true&quot;}"
    style="padding-top: 34px; height: 95px; bottom: 40px;">
    <div class="rel" style="height: 95px;">
        <div id="showtitle" class="clearfix" style="left: 20px; opacity: 1; margin-bottom: 1px;
            display: none">
            <div class="clearfix title">
                <a href="#" target=""><span class="imagetitle">Sonhart</span></a> <span class="imagecaption"
                    style="">&nbsp;</span>
            </div>
        </div>
        <a id="scroll_left" href="#scroll-left" class="scroll-link scroll-left" style="display: inline;">
            Scroll esquerda</a> <a id="scroll_right" href="#scroll-right" class="scroll-link scroll-right"
                style="display: inline;">Scroll direita</a>
        <div id="fullsizeTimer" style="width: 0px;">
        </div>
        <div id="fullsizeTimerBG">
        </div>
        <div id="thumbnailContainer">
            <div id="fullsize" class="clearfix pulldown-items" style="width: 3683px; margin-left: 0px;">
                @foreach (var post in Model.Managers.PostManager.GetFeatured())
                {
                    var dataurl = HttpUtility.HtmlEncode(InternalJsonSerializer.Serialize(new
                                                                                                    {
                                                                                                        type = "projectpage",
                                                                                                        title = post.Title,
                                                                                                        excerpt = post.Content + "&nbsp;",
                                                                                                        target = "",
                                                                                                        backgroundcolor = "",
                                                                                                        embedded_code = ""
                                                                                                    }));
                    var rawUrl = post.FeaturedMediaFile != null ? post.FeaturedMediaFile.Url : "";
                    
                    <a data-url="@dataurl" class="item projectpage  preload" href="@rawUrl" title="@post.Title" style="opacity: 0.5; top: 0px;" rel="1">
                        @Url.Thumbnail(post.FeaturedMediaFile, 120, 85, true, post.Title, "is-thumb img-color")</a>
                }
                <div class="scroll-bar-wrap ui-widget-content ui-corner-bottom" style="width: 3483px;
                    margin-right: 100px;">
                    <div class="scroll-bar ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                        <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;">
                        </a>
                    </div>
                </div>
                <div class="overlay">
                </div>
            </div>
        </div>
    </div>
</div>
