@model Meganium.Api.ViewModels.SiteViewModel
@{
    // TODO: Remover strings
    if (Model.CurrentPost.FeaturedMediaFile != null)
    {
        ViewBag.BackgroundPhoto = Model.CurrentPost.FeaturedMediaFile.Url;
    }
}
<script type="text/javascript">

    jQuery(function ($) {
        // Options for SuperBGImage
        $.fn.superbgimage.options = {
            slideshow: 0, // 0-none, 1-autostart slideshow
            randomimage: 0,
            preload: 1,
            z_index: 5
        };

        // initialize SuperBGImage
        $('#superbgimage').superbgimage().hide();

    });

</script>
<script src="~/Content/themes/sonhart/js/jquery.validate.min.js"></script>
<script src="~/Content/themes/sonhart/js/jquery.validate.unobtrusive.min.js"></script>
<div id="single-page" class="clearfix left-sidebar">
    <div id="primary" style="margin-top: 0px;">
        <h1 class="entry-title">
            @Model.CurrentPost.Title</h1>
        <article>
            <div id="content">
                @Html.Raw(Model.CurrentPost.Content)
            </div>
            <form action="~/Plugin/ContactForm/SendMail" method="post">
                <div class="editor-label">
                    <label for="Name">Seu nome</label>
                </div>
                <div class="editor-field">
                    <input class="text-box single-line" data-val="true" data-val-required="Campo Requerido" id="Name" name="Name" type="text" value="">
                    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
                <div class="editor-label">
                    <label for="Email">Seu e-mail</label>
                </div>
                <div class="editor-field">
                    <input class="text-box single-line" data-val="true" data-val-regex="o e-mail digitado é inválido." data-val-regex-pattern="[a-zA-Z0-9._%-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" data-val-required="Campo Requerido" id="Email" name="Email" type="text" value="">
                    <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>
                <div class="editor-label">
                    <label for="Subject">Sobre o que você quer falar?</label>
                </div>
                <div class="editor-field">
                    <input class="text-box single-line" id="Subject" name="Subject" type="text" value="">
                    <span class="field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                </div>
                <div class="editor-label">
                    <label for="Message">Mensagem</label>
                </div>
                <div class="editor-field">
                    <textarea cols="20" data-val="true" data-val-required="Campo Requerido" id="Message" name="Message" rows="2"></textarea>
                    <span class="field-validation-valid" data-valmsg-for="Message" data-valmsg-replace="true"></span>
                </div>
                <p>
                    <input type="submit" value="Enviar" />
                </p>
            </form>
        </article>
    </div>
</div>
