@model MegaSite.Api.ViewModels.SiteViewModel
<div class="container row" style="margin: 20px 10px">
    <div class="sixteen columns left">
        <h1 class="heading">@Model.Title</h1>
        <!-- Static Page Start -->
        <div class="static">
            @foreach (var post in Model.CurrentPosts)
            {
                <div class="text-desc in-sec">
                    <h5><a href="#">@post.Title</a></h5>
                    <p class="txt">
                        @Html.Raw(post.Content)
                    </p>
                    <div class="clear"></div>
                </div>
            }
        </div>
        <div class="clear"></div>
        <!-- Static Page End -->
    </div>
</div>



