@section Head
{
    <script src="~/Content/admin/js/libs/base64/base64.js"></script>
    <script src="~/Content/admin/js/src/mediafile.js"></script>

    <style>
        .items {
            overflow-y: auto;
            height: 50%;
        }

            .items img {
                float: left;
                width: 105px;
                padding: 4px;
                display: block;
            }
    </style>
}

<div class="loading hide">Carregando...</div>


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Seleção de Fotos</h3>
</div>
<div class="modal-body">
    <div class="form-body">
        <div class="tab-content">
            <div id="tab1">
                <h3 class="block">Digite o código recebido para continuar</h3>
                <div class="editor-field">
                    <input id="Hash" name="Hash" type="text" />
                </div>
            </div>
            <div style="display: none" id="tab2">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="available-title">Fotos Disponíveis</h4>
                        <div class="items available-items"></div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="selected-title">Fotos Selecionadas</h4>
                        <div class="items selected-items"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="javascript:;" id="next-button" class="btn btn-primary">Avançar</a>
</div>

<script>
    var step = 1;
    var g_client;
    var data;

    function refresh() {
        $('.available-title').html('Fotos Disponíveis (' + $('.available-items img').length + ')');
        $('.selected-title').html('Fotos Selecionadas (' + $('.selected-items img').length + ' de ' + g_client.PhotoCount + ')');
        $('.modal-title').html('Fotos de <strong>' + g_client.FullName + '</strong>');
    }

    $(document).ready(function () {
        $('.available-items').on('click', 'img', function () {
            var _this = $(this);
            _this.fadeOut(300, function () {
                $('.selected-items').append(_this);
                refresh();
                _this.fadeIn(300);
            });
        });

        $('.selected-items').on('click', 'img', function () {
            var _this = $(this);
            _this.fadeOut(300, function () {
                $('.available-items').append(_this);
                refresh();
                _this.fadeIn(300);
            });
        });

        $('#next-button').on('click', function () {
            if (step == 1) {
                //todo: arrumar loading e passar para typescript
                $('.loading').show();

                data = {
                    hash: $('#Hash').val()
                };

                $.ajax("@Url.Action("Data")", {
                    data: data,
                    error: function () {
                        alert('Não foi possível localizar um cliente com este código');
                        $('.loading').hide();
                    },
                    success: function (client) {
                        if (!client.AvailableMediaFiles) {
                            alert(client.Text);
                            $('.modal').modal('hide');
                            return;
                        }
                        g_client = client;
                        var items = client.AvailableMediaFiles;
                        for (var i = 0; i < items.length; i++) {
                            var item = $(MediaFileManagerModule.thumbHtml(items[i], '@Url.Content("~/Content/Uploads/Thumbs")', 240));
                            item.data('mediaFile', items[i]);
                            $('.available-items').append(item);
                        }
                        refresh();

                        $('#tab1').hide();
                        $('#tab2').show();
                        step = 2;
                    }
                });
            } else if (step == 2) {
                if (confirm('Tem certeza que deseja enviar esta seleção de fotos? Esta ação não poderá ser desfeita.')) {
                    $('.loading').show();

                    var $items = $('.selected-items img');

                    if ($items.length <= g_client.PhotoCount || confirm('ATENÇÃO: Você contratou um álbum com ' + g_client.PhotoCount + ' fotos, porém está tentando enviar ' + $items.length + ' fotos.\n\nIsto acarretará em CUSTOS EXTRAS. Deseja continuar?')) {
                        var items = [];
                        for (var i = 0; i < $items.length; i++) {
                            items.push($($items[i]).data('mediaFile'));
                        }

                        data = {
                            hash: $('#Hash').val(),
                            selectedMediaFilesJson: JSON.stringify(items)
                        };

                        $.ajax("@Url.Action("Data")", {
                            data: data,
                            method: 'post',
                            error: function () {
                                alert('Não foi possível salvar as fotos');
                                $('.loading').hide();
                            },
                            success: function (message) {
                                alert(message.Text);
                                $('.modal').modal('hide');
                            }
                        });
                    }
                }
            }
        });
    });
</script>
