@section Head
{
    <script src="~/Content/admin/js/libs/base64/base64.js"></script>
    <script src="~/Content/admin/js/app.js"></script>
    @*<script src="~/Content/admin/js/libs/angularjs/angular.min.js"></script>*@

    <style>
        .items {
            overflow-y: auto;
            height: 50%;
        }

            .items img {
                float: left;
                width: 105px;
                padding: 4px;
                display: block;
            }
    </style>
}

<div class="loading hide">Carregando...</div>

<div class="modal" data-ng-app="PhotoSelectorApp">
    <div class="modal-dialog" data-ng-controller="PhotoSelectorController">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Seleção de Fotos - {{client.FullName}}</h3>
            </div>
            <div class="modal-body">
                <div class="form-body">
                    <div class="tab-content">
                        <div class="tab1" data-ng-show="isTab1Visible">
                            <h3 class="block">Digite o código recebido para continuar</h3>
                            <div class="editor-field">
                                <input class="hash" id="Hash" name="Hash" type="text" data-ng-model="hash" />
                            </div>
                        </div>
                        <div style="display: none" class="tab2" data-ng-show="isTab2Visible">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="available-title">Fotos Disponíveis</h4>
                                    <div class="items available-items">
                                        @*<img data-ng-click="go2(mediaFile)" data-ng-repeat="mediaFile in client.AvailableMediaFiles" data-ng-src="{{thumbUrl(mediaFile)}}" />*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="selected-title">Fotos Selecionadas</h4>
                                    <div class="items selected-items">
                                        @*<img data-ng-click="go3(mediaFile)" data-ng-repeat="mediaFile in client.SelectedMediaFiles" data-ng-src="{{thumbUrl(mediaFile)}}" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="ok-button btn btn-primary" data-ng-click="go1()">Avançar</a>
            </div>
        </div>
    </div>
</div>

<script>
    var resource =
    {
        AvailablePhotos: 'Fotos Disponíveis',
        SelectedPhotos: 'Fotos Selecionadas',
        PhotosOf: 'Fotos de',
        CouldNotFindAClientWithThisCode: 'Não foi possível localizar um cliente com este código',
        AreYouSureYouWanToSendThisPhotoSelection: 'Tem certeza que deseja enviar esta seleção de fotos? Esta ação não poderá ser desfeita.',
        CantSavePhotos: 'Não foi possível salvar as fotos',
        YouSignAAlbumWith: 'ATENÇÃO: Você contratou um álbum com ',
        PhotosButYouAreTryingToSend: ' fotos, porém está tentando enviar ',
        PhotosItWillAddCost: ' fotos.\n\nIsto acarretará em CUSTOS EXTRAS. Deseja continuar?',
        Of: 'de'
    };
    var dataUrl = '@Url.Action("Data")';
    var thumbUrl = '@Url.Content("~/Content/Uploads/Thumbs")';

    var photoSelector = new PhotoSelector(dataUrl, thumbUrl, $('.modal'), resource);
    photoSelector.init();

    @*todo: migrar esta tela para angularjs
    
    var thumbUrl = '@Url.Content("~/Content/Uploads/Thumbs")';
    var app = angular.module("PhotoSelectorApp", []);

    app.service("PhotoSelectorService", [
        "$http", "$q",
        function ($http, $q) {

            this.getData = function (hash) {
                var dataDeferred = $q.defer();
                $http.get('@Url.Action("Data")', { params: { hash: hash } }).then(
                    function (client) {
                        dataDeferred.resolve(client);
                    },
                    function (response) {
                        dataDeferred.reject(response);
                    });
                return dataDeferred.promise;
            };

            function getPost(hash) {
            }
        }
    ]);


        app.controller("PhotoSelectorController", [
            "$scope", "PhotoSelectorService",
            function ($scope, repository) {
                $scope.hash = "";
                $scope.isTab1Visible = true;
                $scope.isTab2Visible = false;

                $scope.go1 = function () {
                    $scope.isTab1Visible = false;
                    $scope.isTab2Visible = true;
                    repository.getData($scope.hash).then(function (response) {
                        $scope.client = response.data;
                        $scope.client.SelectedMediaFiles = [];
                    });
                };

                $scope.go2 = function(mediaFile) {
                    //var index = $scope.client.AvailableMediaFiles.indexOf(mediaFile);
                    $scope.client.SelectedMediaFiles.push(mediaFile);
                };

                $scope.thumbUrl = function (mediaFile) {
                    return MediaFileManagerModule.thumbImgUrl(mediaFile, thumbUrl, 240);
                };
            }
        ]);*@
</script>
