.uploadifive-button {
  float: left;
  margin-bottom: 10px;
}
#media-picker-uploader .queue {
  border: 1px solid #E5E5E5;
  height: 325px;
  margin-top: 10px;
  padding: 0 3px 3px;
  background-color: #FFF;
  border-radius: 5px;
  overflow: auto;
  padding: 3px;
  width: 100%;
}
.media-picker-modal {
  width: 1000px;
  margin-left: -500px;
}
.media-picker-modal .modal-body {
  max-height: 393px;
}
.media-picker-gallery {
  list-style: none;
  padding: 0;
  margin: 0 !important;
  width: 76.358974% !important;
  height: 393px;
  overflow: auto;
}
.media-picker-gallery .item {
  margin-bottom: 4px;
  margin-left: 12px !important;
  position: relative;
}
.media-picker-gallery .item:hover .btn-danger {
  display: block;
}
.media-picker-gallery .item .btn-danger {
  font-size: 20px;
  position: absolute;
  right: 0px;
  top: 8px;
  display: none;
  padding: 4px 8px;
}
.media-picker-gallery img {
  width: 105px;
  /*height: 105px;*/

  padding: 4px;
}
.media-file-picker-control {
  position: relative;
  width: 206px;
  height: 206px;
}
.media-file-picker-control .btn {
  display: none;
}
.media-file-picker-control .btn-empty {
  background-color: #999;
  width: 206px;
  height: 160px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  display: block;
  text-decoration: none;
  color: white;
  padding-top: 45px;
}
.media-file-picker-control .btn-empty:hover {
  background-color: #ccc;
}
.media-file-picker-control .btn-change {
  position: absolute;
  top: 80%;
  left: 10%;
  min-width: 67%;
}
.media-file-picker-control .btn-remove {
  position: absolute;
  top: 61%;
  left: 10%;
  min-width: 67%;
}
