@model MegaSite.Api.ViewModels.SiteViewModel
<div class="container row" style="margin: 20px 10px">
    <div class="sixteen columns left">
        <h1 class="heading">@Model.Title</h1>
    </div>
</div>



