@{
    Layout = null;
}

<script src="~/Content/admin/js/libs/jquery/jquery-1.9.1.min.js"></script>
<script src="~/Content/admin/js/libs/bootstrap/bootstrap.js"></script>

<link href="~/Content/admin/js/libs/bootstrap/bootstrap.min.css" rel="stylesheet" />

<div>
    <input type="text"/>
</div>